.page {
  display: flex;

  width: 100%;
  height: 100%;

  padding: 24px;
}

.partsOfSpeech {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: auto;
}

.partOfSpeech {
  font-family: var(--text-font-family);
  font-size: 1.2em;
}

.posTitle {
  font-family: var(--text-font-family);
  font-size: var(--text-h1-size);
  font-weight: bold;
}

.controls {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 16px;

  overflow-y: auto;
}

.updateVocab {
  background-color: var(--color-primary);
  color: var(--color-primary-contrastText);
}

.clearAllUsers {
  background-color: var(--color-error);
  color: var(--color-error-contrastText);
}

.status {
  font-family: var(--text-font-family);
  font-size: 1.2em;
  font-weight: bold;

  margin-top: 4px;
}

.success {
  color: var(--color-success);
}

.error {
  color: var(--color-error);
}
