.diffContainer {
  display: flex;

  margin-top: 16px;
}

.diffText {
  font-family: monospace;
  font-size: 1.3em;
}

.diffChar {
  margin: 0 1px;
  --char-padding: 1px 3px;
}

.diffAdded {
  background-color: #ff4444; /* #00ff00 */
  padding: var(--char-padding);
}

.diffRemoved {
  background-color: #ff4444; /* #ff4444 */
  padding: var(--char-padding);
}

.diffCorrect {
  background-color: #00ff00;
  padding: var(--char-padding);
}

.diffOther {
  background-color: lightgray;
  padding: var(--char-padding);
}

.diffSpace {
  color: transparent;
}
