.page {
  display: flex;

  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: min-content;
  margin: 12px;
  padding: 8px;

  background-color: var(--color-paper);
  border-radius: var(--border-radius);
}

.settings {
  background-color: var(--color-primary);
  color: var(--color-primary-contrastText);

  width: 100%;
  padding: 8px;
}
