.page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}

.title {
  font-family: var(--text-font-family);
  font-size: var(--text-h1-size);
}

.text {
  font-family: var(--text-font-family);
  font-size: var(--text-body-size);
}

.signinButtons {
  display: flex;
  gap: 1em;

  margin: 16px 0;
}

.linkButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  margin-top: 16px;
}

.link {
  width: 100%;
}

.linkButton {
  background-color: var(--color-primary);
  color: var(--color-primary-contrastText);

  width: 100%;
}
