.page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}

.title {
  font-family: var(--text-font-family);
  font-size: var(--text-h1-size);
}

.text {
  font-family: var(--text-font-family);
  font-size: var(--text-body-size);
}

.signinButtons {
  display: flex;
  gap: 1em;

  margin: 16px 0;
}
