.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.content {
  flex-grow: 1;
  overflow: auto;
}

.topbar {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 8px 24px;

  background-color: var(--color-primary);
}

.topbarButtons {
  margin-left: auto;
  display: flex;
  gap: 16px;
}

.topbarButton {
  border-radius: var(--border-radius);

  color: var(--color-secondary-contrastText);
  background-color: var(--color-secondary);
}

.title {
  color: var(--color-primary-contrastText);
  font-family: var(--text-font-family);
  font-size: 3em;
  text-decoration: none;
}
